a {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 318px;
}

footer {
  background-color: black;
}

header {
    background-color: black;
}

img {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Responsive styles */

@media (min-width: 768px) {
  body {
    width: 768px;
  }
}

@media (min-width: 1200px) {
   body {
    width: 1200px;
  }
}
