.bbb-logo {
  width: 56px;
}

.eclipse-logo {
  width: 140px;
}

.footer-contact {
  width: 140px;
  margin: auto;
}

.footer-contact__info {
  color: white;
}

.footer-hours {
  width: 88px;
  margin: 0 auto;
}

.footer-hours__info {
  color: white;
}

.main-footer {
  padding: 30px 0;
}

.main-footer__text {
  display: flex;
  flex-flow: row wrap;
}

/* Responsive styles */

@media (min-width: 768px) {
  .footer-contact {
    width: 400px;
  }

  .footer-hours {
    width: 213px;
  }
}

@media (min-width: 1200px) {

  .bbb-logo {
    width: 148px;
  }

  .eclipse-logo {
    width: 380px;
  }

  .footer-contact {
    width: 650px;
  }

  .footer-hours {
    width: 390px;
  }

  .main-footer {
    padding: 60px 0;
  }
}
