a {
  text-decoration: none;
  outline: none;
}

html {
  font-size: 10px;
}

h2 {
  color: white;
  font-weight: var(--weight-bold);
  font-size: var(--size-h2);
  font-family: var(--font-head);
  margin: 0;
  padding: 0;
}

p {
  font-family: var(--font-body);
}

/* Responsive styles */

@media (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 3.5rem;
  }

  p {
    font-size: 2rem;
  }
}
}
