#icon {
  margin-top: 0px;
}

#layout {
  display: block;
  margin: 0 auto;
  padding: 25px 0;
}

#svg{
  width:35%;
  margin: -53px 0 0 18px;
  height: auto;
}

/* Responsive styles */

@media (min-width: 768px) {
  #svg {
    margin: -110px 0 25px 30px;
  }
}

@media (min-width: 1200px) {
  #svg {
    margin: -110px 0 25px 40px;
  }

  #icon {
    margin-top: -40px;
  }
}
