.about-location {
  background-image: url(/images/home-location.png);
  background-position: center;
  background-size: cover;
  height: 250px;

&__text-header {
  margin: auto;
  padding: 96px 0 5px 0;
  width: 35%;
}

&__text-subheader {
  width: 135px;
  color: white;
  margin: auto;
  text-align: center;
  font-weight: $weight-light;
  font-size: $size-b1;
}
}

.about-story {
  background-image: url(/images/home-story.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 250px;

&__text-header {
  margin: auto;
  padding: 96px 0 5px 0;
  width: 26%;
}

&__text-subheader {
  width: 135px;
  color: white;
  margin: 0 auto;
  text-align: center;
  font-weight: $weight-light;
  font-size: $size-b1;
}
}

.main-about {
  margin: 8px auto 0 auto;

&__section {
  margin: 0px;
}
}

.main-events {
  background-image: url(/images/home-events.png);
  height: 200px;
  background-size: cover;
  margin-top: 8px;

&__info {
  padding-top: 20px;
}

&__table {
  border-spacing: 10px;
  text-align: left;
  margin: 10px auto 10px auto;
  width: 298px;
}

&__table-name {
  font-weight: $weight-medium;
  color: white;
  padding: 5px 8px 5px 8px;
}

&__table-date {
  padding: 5px 8px 5px 8px;
  color: white;
}

&__table-row {
  font-weight: $weight-light;
  font-size: $size-b1;
  font-family: $font-body;
}

&__text {
  background-color: $color-rust-300;
  display: flex;
  flex-flow: row wrap;
}

&__text-header {
  padding: 20px;
  margin-left: 20px;
}

&__text-subheader {
  color: white;
  padding: 17px 0 0 15px;
}
}

.main-image {
  background-image: url(/images/home-header2.png);
  background-repeat: no-repeat;
  margin: auto;
  height: 200px;
  width: 100%;

&__info {
  margin: 0 0 0 18px;
  padding: 20% 0;
  width: 70%;
  color: white;
}

&__text {
  padding: 5px 0 0 0;
  margin: 0;
}
}

.main-subscribe {
  background-color: $color-navy;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 8px;

&__button {
  margin-top: 14px;
  box-sizing: border-box;
  border: none;
  background-color: $color-rust-300;
  color: #C1C0BE;
  font-weight: $weight-light;
  font-size: $size-b1;
  padding: 4px;
}

&__form {
  display: flex;
  margin-top: 10px;
}

&__name-input {
  margin: 0;
  padding: 7px 0 8px 4px;
  width: 94px;
  height: 18px;
  box-sizing: border-box;
  border: none;
  background-color: #C1C0BE;
}

&__email-input {
  margin: 0 0 0 10px;
  padding: 7px 0 8px 4px;
  width: 105px;
  height: 18px;
  box-sizing: border-box;
  border: none;
  background-color: #C1C0BE;
}

&__image {
  margin: -10px 15px 0 14px;
}

&__section {
  padding: 17px 0;
}
}

::placeholder {
  color: $color-body-300;
  font-weight: $weight-light;
  font-size: $size-b1;
}

.subscribe-image {
  width: 60px;
}

.table-light {
  background-color: #82817D;
}

.table-dark {
  background-color: $color-body;
}

/* Responsive styles */

@media (min-width: 768px) {
  .about-location {
    height: 300px;
    width: 384px;

  &__text-header {
    padding: 117px 0 5px 0;
    font-size: 3rem;
    width: 49%;
  }

  &__text-subheader {
    font-size: 1.5rem;
    width: 162px;
  }
}

  .about-story {
    height: 300px;
    width: 384px;

  &__text-header {
    padding: 117px 0 5px 0;
    font-size: 3rem;
    width: 36%;
  }

  &__text-subheader {
    font-size: 1.5rem;
    width: 178px;
  }
}

  .main-image {
    height: 480px;
    width: 100%;
    background-size: cover;

  &__info {
    margin: 0 0 0 40px;
    padding: 25% 0;
  }
}

  .main-about {
    margin: 20px auto 0 auto;
    display: flex;
    flex-flow: row wrap;
  }

  .main-events {
    margin-top: 20px;
    padding-bottom: 100px;

  &__table {
    width: 708px;
  }

  &__table-name {
    font-size: 2rem;
    padding: 8px 10px 8px 10px;
  }

  &__table-date {
    font-size: 2rem;
  }

  &__text-header {
    font-size: 3rem;
    margin-left: 40px;
    padding: 20px 20px 20px 0;
  }

  &__text-subheader {
    font-size: 2rem;
    padding: 10px 0 0 40px;
  }
}

  .main-subscribe {
    margin-bottom: 20px;

  &__button {
    width: 190px;
    height: 38px;
    padding: 0;
    margin: 20px 0 0 10px;
    font-size: 1.5rem;
  }

  &__image {
    margin: -70px 30px -45px 14px;
  }

  &__data {
    display: flex;
    flex-flow: row wrap;
  }

  &__section {
    padding: 30px 0 34px 0;
  }
}

  .subscribe-image {
    width: 90px;
  }

  .main-subscribe {

  &__name-input {
    width: 193px;
    height: 38px;
    margin-top: 10px;
    padding: 8px 0 8px 12px;
  }

  &__email-input {
    width: 193px;
    height: 38px;
    margin-top: 10px;
    padding: 8px 0 8px 12px;
  }
}

  ::placeholder {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .about-location {
    width: 590px;
    height: 428px;
    margin-right: 20px;

  &__text-header {
    width: 33%;
    padding-top: 155px;
  }

  &__text-subheader {
    font-size: 2rem;
  }
}

  .about-story {
    width: 590px;
    height: 428px;

  &__text-header {
    width: 24%;
    padding-top: 155px;
  }

  &__text-subheader {
    font-size: 2rem;
  }
}

  .brand-image {
    width: 310px;
  }

  .main-events {
    margin-top: 20px;
    padding-bottom: 200px;

  &__text-header {
    margin-left: 41px;
    padding: 60px 20px 60px 0;
  }

  &__text-subheader {
    font-size: 2.5rem;
    padding: 40px 0 0 40px;
  }

  &__table {
    width: 1140px;
  }

  &__table-name {
    font-size: 2.2rem;
    padding: 14px 14px 14px 14px;
  }

  &__table-date {
    font-size: 2.2rem;
  }
}

  .main-image {
    height: 700px;
  }

  .main-subscribe {

  &__button {
    width: 180px;
    height: 40px;
    padding: 0;
    margin: 20px 0 0 10px;
    font-size: 2rem;
  }

  &__data {
    margin-bottom: 10px;
  }

  &__section {
    padding: 60px 0;
  }

  &__header {
    margin-top: 0;
  }

  &__image {
    margin: -120px 40px -55px 40px;
  }

  &__email-input {
    width: 189px;
    height: 40px;
    margin-top: 10px;
    padding: 12px 0 8px 12px;
  }

  &__name-input {
    width: 189px;
    height: 40px;
    margin-top: 10px;
    padding: 12px 0 8px 12px;
  }
}

  ::placeholder {
    font-size: 2rem;
  }

  .subscribe-image {
    height: 400px;
    width: 120px;
  }
}
