a {
  text-decoration: none;
  outline: none;
}

html {
  font-size: 10px;
}

h2 {
  color: white;
  font-weight: $weight-bold;
  font-size: $size-h2;
  font-family: $font-head;
  margin: 0;
  padding: 0;
}

p {
  font-family: $font-body;
}

/* Responsive styles */

@media (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 3.5rem;
  }

  p {
    font-size: 2rem;
  }
}
